*{
    width: 800px;
    padding:0;
    margin:auto;
    font-family: 'Roboto', sans-serif;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}
h1,h2,h3,h4{
  font-weight: bold;
}

h1 {

  font-size: 40px;
  color: #1c1c1c;
  line-height: 48px;
  display: inline;
}

h2 {
  font-size: 24px;
  color: #45413f;
  line-height: 30px;
  padding: 10px;
}

h3 {

  font-size: 20px;
  color: #45413f;
  line-height: 22px;
}

h4 {
  font-size: 14px;
  color: #4A4A4A;
  line-height: 18px;
}

h2, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text,.location-text {
  font-size: 16px;
  color: #999999;
  line-height: 25px;
}
.date-text{
  float: left;
}

.location-text {
  float: right;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 20px;
}

a {
  color: #7f787a;
  text-decoration: none;
  margin-top: 5px;
  display: block;
  font-size: 18px;
}

/*.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}
*/

#skillsH3 {
  color: #45413f
  display: none;
  margin-top: 10px;

}

#skills {
  display: block;
}

.white {
  background-color: #ffffff;
}

.gray-text {
  font-weight: bold;
  color: #45413f;
  line-height: 2em;
  font-size: 20px;
}

.gray {
  background-color: #ffffff;
  padding-bottom: 10px;
  clear:both;
}

/* TODO: Replace with image later */
#header {
  background-color: #ffffff;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
}

.center-content {
  padding-left: 5%;
  padding-right:5%;
  padding-top: 3%;
  padding-bottom: 1%;
}

ul {
  list-style-type: none;
}


.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}


span {
  padding: 5px;
}

#letsConnect {
  text-align: left;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  #skillsChart {
    display: none;
  }

}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .welcome-message {
    display: none;
  }
  #skillsChart {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

svg {
  padding: 10px;
  display: block;
  margin-left: 1.2cm;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
}
em{
  color: #7f787a;
  line-height: 25px;
  font-style: normal;
}
.m{
  font-size: 24px;
}
button{
  font-size: 15px;
  font-weight: bold;
  display: block;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin-right: 0;
  margin-top: -20px;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  #skills
}
#contact { 
    background: #999999; 
    padding: 1em 2em; 
    position: relative;
  }

.js #contact {
  position:fixed;
  top:0;
  margin: ;
  width: 800px;
  display: none;
} 


#contact h2 { 
  margin-top: 0;
  padding:0px;
  padding-left: 0%;
  padding-right: 0%; 
}

#contact ul { padding: 0; }

#contact li { 
  list-style: none;
  margin-bottom: 1em;
}

/* Close button on form */
.close {
  position: relative;
  left: 790px;
  top: 10px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
} 

/* Form inputs */
input, textarea { width: 100%; line-height: 2em;}
input[type=submit] { width: auto;  }
label { display: block; text-align: left; }
